extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form--resetPassword
                
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password-confirm') Confirm Password
                    input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='token') Token
                    input#token.form__input(type='text', readonly, value=`${webToken}`)
                .form__group
                    button.btn.btn--green.btn--reset-pass Reset Password